.navbar{
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.navbar--ul{
  list-style: none;
  
}
.navbar--ul a{
  display: inline-block;
  text-decoration: none;
  padding-bottom: 1px;
  font-size: 1.6rem;
  color: blueviolet;

} 

.navbar--ul a.active {
  border-bottom: 1px solid blueviolet;
}